{% extends 'default/index.html.twig' %}

{% block container %}

	<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Dashboard
            <small>Control panel</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
          </ol>
        </section>
        
        <section class="content">

        <!-- Table normal -->
    {% if table_normal %}
       	<div class="col-xs-12">
       	<form method="POST">
       		<div class="box"> 
       			<div class="box-header">
                	<h3 class="box-title">{{ table_normal.title }}</h3>
                   
					<div class="box-tools">
                    	<div class="input-group input-group-sm" style="width: 150px;">
							<a href="erstellen" class="btn btn-block btn-xs btn-primary"><i class="fa fa-plus"></i> neu</a>
						</div>
					</div>
                </div>
                
                <div class="box-body table-responsive no-padding">
                  	<table class="table table-hover">
                    <tbody>
                    	<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Status</th>
							<th>Ansprechpartner</th>
							<th>eMail</th>
							<th></th>
	                    </tr>
	                    
	                    {% for agenturen in table_normal.agenturen %}
	                    <tr>
	                        <td>{{ agenturen.agid }}</td>
							<td>{{ agenturen.agname }} </td>
							<td>
								{% if agenturen.agstatus %}
									<span class="label label-success">aktiv</span>
								{% else %}
									<span class="label label-danger">inaktiv</span>
								{% endif%}
							</td>
							<td>{{ agenturen.agansprechpartner }} </td>
							<td>{{ agenturen.agemail }} </td>
							<td>
								<a href="{{ path('agenturen_erstellen', {'userid': agenturen.agid}) }}" class="btn btn-sm">
								<i class="fa fa-gear"></i></a>
							</td>
	                    </tr>
	                    {% endfor %}
					</tbody>
					</table>
                </div>
                
                
       		</div>
       		</form>
       	</div>
    {% endif %}
	    </section>
    </div>
{% endblock %}